/* Selectores */
/* Selectores de elemento */

h1{
    color: slategray;
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;;
}

/* h1[role="titulo"] {
    color: black;
} */

/* Selector de clase */
/* .titulo {
    color: brown;
    font-size: 30px;
    background-color: cadetblue;
} */

/* Selector de ID */
/* #titulo-huawei{
    color: chartreuse;
} */

/* .big-table {
    font-size: 30px;
    border: 1px solid #ccc;
} */
/* .big-table th, td {
    padding: 20px;
} */