/* Selectores */
/* Selectores de elemento */

h1{
    color: LimeGreen;
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;;
}

#div_temas {
    display: none !important;
}

.product_cell {
    border: 2px solid Crimson;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.laptop > h2 {
    color: RoyalBlue;
}

.laptop >h3 {
    color: Salmon;
    text-align: right;
    padding-right: 10px;
}


/* h1[role="titulo"] {
    color: black;
} */

/* Selector de clase */
/* .titulo {
    color: brown;
    font-size: 30px;
    background-color: cadetblue;
} */

/* Selector de ID */
/* #titulo-huawei{
    color: chartreuse;
} */

/* .big-table {
    font-size: 30px;
    border: 1px solid #ccc;
} */
/* .big-table th, td {
    padding: 20px;
} */